.table_inline_block {
    display: inline-block;
}

.table_padding{
    padding: 12px;
}

.table_row_size{
    width:15rem;
}

.table_row_margin{
    margin:15px;
}

.table_row_shadow{
    box-shadow: 3px 3px 1px #888888;
}