.table_inline_block {
    display: inline-block;
}

.table_padding{
    padding: 12px;
}

.table_row_size{
    width:15rem;
}

.table_row_margin{
    margin:15px;
}

.table_row_shadow{
    box-shadow: 3px 3px 1px #888888;
}

.table_row_image_image{
    margin:15px;
}

.card-delay-margin{
    -webkit-transition: margin 0.5s; /* For Safari 3.1 to 6.0 */
    transition: margin 0.5s;
}

.card:hover{
    margin:0;
}