.loginBox {
    width: 30%;
    margin: auto;
    margin-top:8vh;
}

@media screen and (min-width: 750px) and (max-width: 1250px){
    .loginBox {
        width:40%;
    }
}

@media screen and (min-width: 600px) and (max-width: 750px){
    .loginBox {
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    .loginBox {
        width: 90%;
    }
}
